@charset "UTF-8";

a {
    background-color: #000000;
    color: #ffffff;
    font-size: 25px;
    font-weight: normal;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    text-align: center;
    width: 250px;
    text-decoration: none;
}

a:hover {
    background-color: #22D4FD;
}