@charset "UTF-8";
@font-face {
    font-family: 'idroid';
    src: url(fontes/idroid.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0px;
    padding: 0px;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
}

.tit , h2 {
    font-family: 'idroid';}

header {
    background-image: linear-gradient(0deg, #1a5c38, #3cd681);
    background-attachment: fixed;
    height: 200px;
}

article {
    background-color: #84e1ad;
    padding: 0px 100px;
}

main {
    background-color: white;
}

aside#video {
    background-color: #1a5c38;
    text-align: center;
    padding: 30px;
}