@charset "UTF-8";

.main {
    display: flex;  
}

body {
    height: 100vh;
    box-sizing: border-box;
    background-color: #ffffff;
    color: #000000;
    text-align: center;
}

a {
    text-decoration: none;
    color: white;
}

.modulo {
    width: 750px;
    background-color: #22D4FD;
    font-size: 25px;
    font-weight: bold;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
}

.modulo > div {
    display: none;
}

.modulo:hover > div {
    display: inline-block;
}

.submod {
    display: inline-block;
    background-color: #ffffff;
    font-size: 25px;
    font-weight: bold;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    text-align: center;
    width: 250px;
}

.submod > a {
    text-decoration: none;
    color:#000000;
}

.submod:hover {
    background-color: #000000;
}

.submod:hover > a {
    color: #ffffff;
}

.biblioteca {
    display: inline-block;
    background-color: #000000;
    color: #ffffff;
    font-size: 25px;
    font-weight: bold;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    text-align: center;
    width: 250px;
}
.biblioteca:hover {
    background-color: #22D4FD;
}

ul {
    text-align: left;
}